{% extends "base.html" %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
    <body class="bg-sky-50 font-montserrat">
        <div id="title-card" class="bg-gradient-to-r from-sky-300 to-sky-100 border border-sky-100 rounded-sm">
            <div id="title-text" class="text-indigo-900 text-6xl text-center my-6">
                <h1>TL;DR</h1>
                <h1 class="text-lg mt-4">
                    Too Long Didn't Read? Let us summarize and get you going!
                </h1>
            </div>
        </div id="content">

        <div>

        </div>
    </body>
</html>

{% endblock %}